@page "/converter"

<PageTitle>BinaryApp - Converter To Binary</PageTitle>

<h1>Converter To Binary</h1>

<div>
    <textarea @bind="_textToConvert" maxlength="260" rows="10" cols="50"></textarea>
</div>

<div>
    <button class="btn btn-primary" @onclick="ConvertToBinary">Convert</button>
</div>

<div>
    <p class="mt-3">@_convertedText</p>
</div>